<!-- <p>{{ guias$ | async | json }}</p> -->

<button (click)="getData()">Get Data</button>

@for (guia of guias$ | async; track $index) {
  <img src="{{guia.img_cover}}" alt="{{guia.nombre}}">
}

@if (links$ | async; as data) {
  <ul>
    @for (grp of data; track $index) {
      <h4>{{grp.id}} {{grp.nombre}}</h4>
      @for (item of grp.links; track $index) {
        <li>
          <a target="_blank" href="{{item.link}}">{{ item.nombre }}</a>
        </li>
      }
    }
  </ul>
}

<router-outlet></router-outlet>
